@import "./_variables.scss";

/* Application-wide Styles */
h1 {
  color: $primaryColor;
  font-family: $primaryFont;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: $primaryFont;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[type="text"],
button {
  color: #333;
  font-family: $secondaryFont;
}

a {
  text-decoration: none;
}

/* everywhere else */
* {
  font-family: $primaryFont;
}
